
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
#container {
display:flex;
flex-direction: row

}

#userinfo {


}

#requests {


}


#datacontainer{
   display:flex;
   flex-direction: row;


}
#container{

    display:flex;
    flex-direction: row;
}
#data{

   display:flex;
   flex-direction: row;

}

#element {

   display:flex
}


label, input {
  display: block; /* 1. oh noes, my inputs are styled as block... */
}

</style>
   <body>
      
    <p>hi testing</p>
    <p>welcome to the manager dashboard</p>
    <!-- <form action = "/another" method = "POST">
      <p>Username:</p>
      <p><input type = "hidden" name = {{name}} /></p>
      <p><input type = "submit" value = "submit" /></p>
   </form> -->
   <div id="userinfo">
    <form action="/make_request/" method="post">
        <div class="description">
          <label for="description">Description: </label>
          <input type="text" name="description" id="description" required>
        </div>
        <div class="amount">
          <label for="amount">Amount: </label>
          <input type="amount" name="amount" id="amount" required>
        </div>
        <div class="form-example">
          <input type="submit" value="Submit">
        </div>
      </form>
       </div>

   <div id="container">


      <div id="demo">

      
      </div>

   </div>

   



   <script  >
// const mydata=fetch('http://127.0.0.1:5000/get_request/1')
//   .then(response => response.json())
//   .then(data => console.log(data));

//   console.log("my data ",mydata)
// //   .then(data => console.log(data));

async function fetchrequests() {
 const id={{userid}};
    const response = await fetch(`http://127.0.0.1:5000/get_request/${id}`)
  .then(response => response.json())
  .then(function(data) { return data });

//   console.log("my data ",response[5][0])
const reqArray=[];
const myvar=Object.keys(response).map(function(key, index) {
   console.log("start");
   console.log(index);
  console.log(response[key] );
  reqArray.push(response[key])
  console.log("end");
});
// document.getElementById('demo').innerHTML = reqArray.map(req => 
//     `<div id="datacontainer">
//          <div id="data">
//             <div id="element"> request id: ${req[0]} </div>
//             <div id="element"> Description: ${req[2]} </div>
//             <div id="element"> Amount: ${req[3]} </div>
//             <div id="element"> Status: ${req[4]} </div>
//          </div>
//     </div>`
// ).join('')

document.getElementById('demo').innerHTML = reqArray.map(req => 
    `<div id="datacontainer">
         <div id="data">
            <form action = "/update_request/" method = "post" id="data">

         <div id="element">
         <label for="requestid">Request id:</label><br>
         </div>
         <div id="element">
         <input size=1 type="text" id="requestid" name="requestid" value=${req[0]} readonly> 
         </div>

         <div id="element">
         <label for="description">Description:</label><br>
         <input size=50 type="text" id="description" name="description" value="${req[2]}"><br><br>
         </div>

         <div id="element">
         <label for="amount">Amount:</label><br>
         <input size=2 type="text" id="amount" name="amount" value=${req[3]} disabled><br><br>
         </div>

         <div id="element">
         <label for="status">Status:</label><br>
         <input type="text" id="status" name="status" value=${req[4]} disabled><br><br>
         </div>

         <div id="element">
         <p><input type = "submit" name="Approve" value = "Approve"/></p>
         </div>

         <div id="element">
         <p><input type = "submit" name="Deny" value = "Deny"/></p>
         </div>


      </form>

         </div>
    </div>`
).join('')

// <div id="element">
//          <p><input type = "submit" value = "Cancel"/></p>
//          </div>


// <form action = "/login" method = "post">
//          <div id="element">
//          <label for="requestid">Request id:</label><br>
//          <input type="text" id="username" name="requestid" value=${req[0]} disabled> 
//          </div>
//          <div id="element">
//          <label for="description">Description:</label><br>
//          <input type="text" id="description" name="description" value=${req[2]}><br><br>
//          </div>
//          <div id="element">
//          <p><input type = "submit" value = "submit"/></p>
//          </div>
//       </form>

      
// document.getElementById('demo').innerHTML = reqArray.map(req => 
//     `<div id="datacontainer">
//          <div id="data">
//             <div id="element"> request id: ${req[0]} </div>
//             <div id="element"> Description: ${req[2]} </div>
//             <div id="element"> Amount: ${req[3]} </div>
//             <div id="element"> Status: ${req[4]} </div>
//          </div>
//     </div>`
// ).join('')



}

setInterval(fetchrequests, 5000);

// var userDetail = [
//     {name:"sunil",age:"24",place:"delhi",avatar:"./image/abc.jpg",country:"India"},
//     {name:"sujan",age:"22",place:"assam,",avatar:"./image/abc.jpg",country:"India"},
//     {name:"abishek",age:"26",place:"kolkata",avatar:"./image/abc.jpg",country:"India"},
//     {name:"chiranjeev",age:"20",place:"bangalore",avatar:"./image/abc.jpg",country:"India"},
// ]


document.getElementById('demo').innerHTML = userDetail.map(user => 
    `<div>
      <div>Name: ${user.name}</div>
      <div>Age: ${user.age}</div>
      <div>Place: ${user.place}</div>
      <div>Country: ${user.country}</div>
      <div>Avatar: ${user.avatar}</div>
    </div>`
).join('')

   </script>
   </body>
</html>