<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>
  <div class="container signin">
    <p><h1>Welcome to CognePI</h1>></p>
  </div>

    <form action="/loginpage" >
        <button type="submit" class="registerbtn">login</button>
    </form>
    <form action="/registrationpage" >
    <button id="register" type="submit" class="registerbtn">Register</button>
    </form>

  
  <div class="container signin">
    <p>Already have an account? <a href="http://127.0.0.1:5000/loginpage">Login</a>.</p>
  </div>
</form>

</body>
</html>
