<html>
   <body>
      <h1>Register here</h1>
      <form action = "/register" method = "post">
         <label for="username">Username:</label><br>
         <input type="text" id="username" name="username"><br><br>

         <label for="password">password:</label><br>
         <input type="text" id="password" name="password"><br><br>

         <label for="roles">Select your role:</label>
         <select id="roles" name="role">
            <option value="Employee">Employee</option>
            <option value="Manager">Manager</option>
         </select>
         <p><input id="submit" type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>

<!-- <html>
<body>

<h2>The select Element</h2>

<p>The select element defines a drop-down list:</p>

<form action="/action_page.php">
  <label for="cars">Choose a car:</label>
  <select id="cars" name="cars">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="fiat">Fiat</option>
    <option value="audi">Audi</option>
  </select>
  <input type="submit">
</form>

</body>
</html> -->